# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Numerous always-ignore extensions
*.bak
*.cvs
*.db
*.diff
*.err
*.log
*.orig
*.rej
*.zip

# Ignore all files and directories starting with . or ~ or ._ or ending with ~
.*
~*
*~
._*
# but track
!.babelrc.js
!.browserslist
!.editorconfig
!.gitattributes
!.github
!.gitignore

# Ignore all files with .lock extentions
*.lock
# but track
!composer.lock

# OS or Editor files and folders
*.code-workspace
*.elc
*.esproj
*.komodoproject
*.sublime*
*.tmproj*

# Dependencies
bower_components
node_modules


# Other Understrap specific files and directories
phpcs.xml
dist/
dist-product/
**/img

src/mcall




# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php

# Example themes
/wp-content/themes/twenty*/

# Example plugin
/wp-content/plugins/hello.php

# Uploads
/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes